@page
@model Landscaping.Pages.InteriorsModel
@{
}
<div class="text-center">
    <h1 class="display-4">Interior Design</h1>
    <p>Our NCIDQ licensed and certified interior designer has years of industry experience, designing and decorating everything from homes, to schools, to hospitals. Check out our portfolio below and contact us for more details!</a>.</p>
</div>
<div>
    <h2>Review our portfolio here.</h2>
    <p>
        An architectural sketch done for a client, of their childhood home.
    </p>
</div>


<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="Pictures/housefront.webp">
            <img src="Pictures/housefront.webp" alt="Forest">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="Pictures/houseback.webp">
            <img src="Pictures/houseback.webp" alt="Northern Lights">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>



<div class="clearfix"></div>